:root{
    --primary: #a02061;
    --secondary: #f4f4f4;
}

::-webkit-scrollbar{
    display: none;
}

html.lenis,html.lenis body{
    height: auto;
}

.lenis.lenis-smooth{
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent]{
    overscroll-behavior: contain;
}

.lenis.lenis-stopped{
    overflow: hidden;
}

.lenis.lenis-scrolling iframe{
    pointer-events: none;
}

html{
    font-size: calc(100vw / 1920 * 10);
}

body{
    font-family: 'Primary';
    background-color: var(--primary);
    color: var(--secondary);
}

h3{
    font-size: 8rem;
    text-transform: uppercase;
}

p,span{
    font-size: 2.4rem;
}

.hero{
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-wrapper{
    padding: 6.4rem ;
}

.hero-paragraph{
    padding-top: 80vh;
    padding-left: 80rem;
    padding-bottom: 40rem;
}

.hero-paragraph-text, .hero-paragraph-text span{
    font-size: 8rem;
    line-height: 1.2;
}

.hero-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-background-image{
    width: 100%;
    height: 120%;
    object-fit: cover;
    scale: 1.1;
}

@media screen and (max-width: 768px){
    html{
        font-size: calc(100vw / 768 * 10);
    }

    h3 {
        font-size: 2.4rem;
    }

    p,span{
        font-size: 2.4rem;
    }

    .hero-paragraph{
        padding-left: 0;
    }

    .hero-background-image{
        height: 100%;
    }
}